<form class="OLSKJar OLSKDecorBigForm">
	<p class="OLSKJarBlurb"><%= OLSKLocalized('OLSKJarBlurbText') %></p>

	<p>
		<a class="OLSKJarContributeButton OLSKDecorPress OLSKDecorPressCall" href="https://opencollective.com/rosano/contribute" target="_blank"><%= OLSKLocalized('OLSKJarContributeButtonText') %></a>
	</p>
	
</form>
