<div class="OLSKJar OLSKDecorModule">

<p class="OLSKJarBlurb"><%= OLSKLocalized('OLSKJarBlurbText') %></p>

<p>
	<a class="OLSKJarContributeButton OLSKDecorPress" href="https://rosano.ca/back" target="_blank">❤️ <%= OLSKLocalized('OLSKJarContributeButtonText') %></a>
</p>
	
</div>
