<form class="OLSKJar OLSKDecorModule">

<p class="OLSKJarBlurb"><%= OLSKLocalized('OLSKJarBlurbText') %></p>

<p>
	<a class="OLSKJarContributeButton OLSKDecorPress" href="https://opencollective.com/rosano/contribute" target="_blank">❤️ <%= OLSKLocalized('OLSKJarContributeButtonText') %></a>
</p>
	
</form>
